.header {
    width: 1200px;
    margin: 20px auto 50px;

    &__top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 23px;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;

            &:first-child {
                margin-right: 50px;
            }

            .icon {
                margin-right: 12px;
                font-size: 20px;
                color: #DCA370;
            }
        }
    }

    &__body {
        display: flex;
        align-items: center;
    }

    .logo {
        width: 105px;
        height: 105px;
        margin-right: 55px;
    }

    .nav {
        &__list {
            display: flex;
            align-content: center;

            li {
                margin-right: 55px;
            }

            a {
                padding-bottom: 5px;
                border-bottom: 2px solid #fff;
                transition: color .3s;

                &.active {
                    border-color: #DCA370;
                }

                &:hover {
                    color: #DCA370;
                }
            }
        }
    }

    .search-form {
        display: flex;
        align-content: center;
        width: 370px;
        height: 49px;
        margin-left: auto;
        border: 1px solid #DCA370;
        border-radius: 49px;

        &__input {
            flex: 1;
            height: 100%;
            padding: 0 20px;
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 100%;

            .icon {
                font-size: 20px;
                color: #DCA370;
            }
        }
    }

    .selected {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 49px;
        height: 49px;
        margin-left: 20px;
        border: 1px solid #DCA370;
        border-radius: 50%;
        cursor: pointer;

        .icon {
            font-size: 25px;
            color: #DCA370;
        }

        .count {
            position: absolute;
            top: 9px;
            left: 25px;

            display: flex;
            align-items: center;
            justify-content: center;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            font-size: 10px;
            background-color: #CA6D80;
            color: #fff;
        }
    }
}