<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
        <link rel="shortcut icon" href="favicon/favicon.ico" />
        <link rel="stylesheet" href="css/main.css" />
    
        <title>Webpack</title>
    </head>
  <body>
      <%= _.template(require('./../includes/header.html').default)() %>

      <main class="main"> 
          <i class="icon-rock-n-roll"></i>
      </main>

      <%= _.template(require('./../includes/footer.html').default)() %>
      <script src="js/common.js"></script>
      <script src="js/pages/index.js"></script>
  </body>
</html>