<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
        <link rel="shortcut icon" href="favicon/favicon.ico" />

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="css/main.css" />
    
        <title>Alpaka</title>
    </head>
    <body>
        <%= _.template(require('./../includes/header.html').default)() %>

        <main class="container">
            <div class="main-slider js-main-banner">
                <div class="main-slider__slide" style="background-image: url(img/main-banner.jpg);"></div>
                <div class="main-slider__slide" style="background-image: url(img/main-banner.jpg);"></div>
                <div class="main-slider__slide" style="background-image: url(img/main-banner.jpg);"></div>
                <div class="main-slider__slide" style="background-image: url(img/main-banner.jpg);"></div>
            </div>

            <div class="section-heading js-products-new-arrows">
                Новинки
            </div>

            <div class="products-slider js-products-new">
                <div class="slide-wrap">
                    <div class="product-preview">
                        <div class="product-preview__label new">Новинка</div>
                        <div class="product-preview__favorite added">
                            <span class="icon icon-heart"></span>
                        </div>
        
                        <div class="product-preview__bg" style="background-image: url(img/main-banner.jpg);"></div>
        
                        <div class="product-preview__name">Виг вам</div>
                        <div class="product-preview__description">Виг вам для девочки вигвам единорог нежно</div>
                        <div class="product-preview__code">Артикул: 15026</div>

                        <div class="product-preview__prices">
                            <div class="product-preview__discount">3600 грн</div>
                            <div class="product-preview__price">3100 грн</div>
                        </div>
        
                        <div class="product-preview__buy">
                            <span class="icon icon-shopping"></span>
                            Купити
                        </div>
                    </div>
                </div>

                <div class="slide-wrap">
                    <div class="product-preview">
                        <div class="product-preview__label popular">Популярне</div>
                        <div class="product-preview__favorite added">
                            <span class="icon icon-heart"></span>
                        </div>
        
                        <div class="product-preview__bg" style="background-image: url(img/main-banner.jpg);"></div>
        
                        <div class="product-preview__name">Виг вам</div>
                        <div class="product-preview__description">Виг вам для девочки вигвам единорог нежно</div>
                        <div class="product-preview__code">Артикул: 15026</div>
        
                        <div class="product-preview__prices">
                            <div class="product-preview__discount">3600 грн</div>
                            <div class="product-preview__price">3100 грн</div>
                        </div>
        
                        <div class="product-preview__buy">
                            <span class="icon icon-shopping"></span>
                            Купити
                        </div>
                    </div>
                </div>

                <div class="slide-wrap">
                    <div class="product-preview">
                        <div class="product-preview__label stock">Акції</div>
                        <div class="product-preview__favorite added">
                            <span class="icon icon-heart"></span>
                        </div>
        
                        <div class="product-preview__bg" style="background-image: url(img/main-banner.jpg);"></div>
        
                        <div class="product-preview__name">Виг вам</div>
                        <div class="product-preview__description">Виг вам для девочки вигвам единорог нежно</div>
                        <div class="product-preview__code">Артикул: 15026</div>
        
                        <div class="product-preview__prices">
                            <div class="product-preview__discount">3600 грн</div>
                            <div class="product-preview__price">3100 грн</div>
                        </div>
        
                        <div class="product-preview__buy">
                            <span class="icon icon-shopping"></span>
                            Купити
                        </div>
                    </div>
                </div>


                <div class="slide-wrap">
                    <div class="product-preview">
                        <div class="product-preview__favorite added">
                            <span class="icon icon-heart"></span>
                        </div>

                        <div class="product-preview__bg" style="background-image: url(img/main-banner.jpg);"></div>

                        <div class="product-preview__name">Виг вам</div>
                        <div class="product-preview__description">Виг вам для девочки вигвам единорог нежно</div>
                        <div class="product-preview__code">Артикул: 15026</div>

                        <div class="product-preview__prices">
                            <div class="product-preview__discount">3600 грн</div>
                            <div class="product-preview__price">3100 грн</div>
                        </div>

                        <div class="product-preview__buy">
                            <span class="icon icon-shopping"></span>
                            Купити
                        </div>
                    </div>
                </div>

                <div class="slide-wrap">
                    <div class="product-preview">
                        <div class="product-preview__label new">Новинка</div>
                        <div class="product-preview__favorite added">
                            <span class="icon icon-heart"></span>
                        </div>
        
                        <div class="product-preview__bg" style="background-image: url(img/main-banner.jpg);"></div>
        
                        <div class="product-preview__name">Виг вам</div>
                        <div class="product-preview__description">Виг вам для девочки вигвам единорог нежно</div>
                        <div class="product-preview__code">Артикул: 15026</div>
        
                        <div class="product-preview__prices">
                            <div class="product-preview__discount">3600 грн</div>
                            <div class="product-preview__price">3100 грн</div>
                        </div>
        
                        <div class="product-preview__buy">
                            <span class="icon icon-shopping"></span>
                            Купити
                        </div>
                    </div>
                </div>

                <div class="slide-wrap">
                    <div class="product-preview">
                        <div class="product-preview__label popular">Популярне</div>
                        <div class="product-preview__favorite added">
                            <span class="icon icon-heart"></span>
                        </div>
        
                        <div class="product-preview__bg" style="background-image: url(img/main-banner.jpg);"></div>
        
                        <div class="product-preview__name">Виг вам</div>
                        <div class="product-preview__description">Виг вам для девочки вигвам единорог нежно</div>
                        <div class="product-preview__code">Артикул: 15026</div>
        
                        <div class="product-preview__prices">
                            <div class="product-preview__discount">3600 грн</div>
                            <div class="product-preview__price">3100 грн</div>
                        </div>
        
                        <div class="product-preview__buy">
                            <span class="icon icon-shopping"></span>
                            Купити
                        </div>
                    </div>
                </div>

                <div class="slide-wrap">
                    <div class="product-preview">
                        <div class="product-preview__label stock">Акції</div>
                        <div class="product-preview__favorite added">
                            <span class="icon icon-heart"></span>
                        </div>
        
                        <div class="product-preview__bg" style="background-image: url(img/main-banner.jpg);"></div>
        
                        <div class="product-preview__name">Виг вам</div>
                        <div class="product-preview__description">Виг вам для девочки вигвам единорог нежно</div>
                        <div class="product-preview__code">Артикул: 15026</div>
        
                        <div class="product-preview__prices">
                            <div class="product-preview__discount">3600 грн</div>
                            <div class="product-preview__price">3100 грн</div>
                        </div>
        
                        <div class="product-preview__buy">
                            <span class="icon icon-shopping"></span>
                            Купити
                        </div>
                    </div>
                </div>


                <div class="slide-wrap">
                    <div class="product-preview">
                        <div class="product-preview__favorite added">
                            <span class="icon icon-heart"></span>
                        </div>

                        <div class="product-preview__bg" style="background-image: url(img/main-banner.jpg);"></div>

                        <div class="product-preview__name">Виг вам</div>
                        <div class="product-preview__description">Виг вам для девочки вигвам единорог нежно</div>
                        <div class="product-preview__code">Артикул: 15026</div>

                        <div class="product-preview__prices">
                            <div class="product-preview__discount">3600 грн</div>
                            <div class="product-preview__price">3100 грн</div>
                        </div>

                        <div class="product-preview__buy">
                            <span class="icon icon-shopping"></span>
                            Купити
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-heading js-categories-arrows">
                Категорії
            </div>

            <div class="categories-slider js-categories-slider">

                <div class="slide-wrap">
                    <a href="#" class="category-preview" style="background-image: url(img/main-banner.jpg);">
                        <div class="category-preview__name">
                            <span class="icon icon-furniture"></span>
                            дитячі меблі
                        </div>
                    </a>    
                </div>

                <div class="slide-wrap">
                    <a href="#" class="category-preview" style="background-image: url(img/main-banner.jpg);">
                        <div class="category-preview__name">
                            <span class="icon icon-textile"></span>
                            дитячий текстиль
                        </div>
                    </a>    
                </div>

                <div class="slide-wrap"> 
                    <a href="#" class="category-preview" style="background-image: url(img/main-banner.jpg);">
                        <div class="category-preview__name">
                            <span class="icon icon-tent"></span>
                            дитячий інвентар
                        </div>
                    </a>
                </div>

                <div class="slide-wrap">
                    <a href="#" class="category-preview" style="background-image: url(img/main-banner.jpg);">
                        <div class="category-preview__name">
                            <span class="icon icon-furniture"></span>
                            дитячі меблі
                        </div>
                    </a>    
                </div>

                <div class="slide-wrap">
                    <a href="#" class="category-preview" style="background-image: url(img/main-banner.jpg);">
                        <div class="category-preview__name">
                            <span class="icon icon-textile"></span>
                            дитячий текстиль
                        </div>
                    </a>    
                </div>

                <div class="slide-wrap"> 
                    <a href="#" class="category-preview" style="background-image: url(img/main-banner.jpg);">
                        <div class="category-preview__name">
                            <span class="icon icon-tent"></span>
                            дитячий інвентар
                        </div>
                    </a>
                </div>
            </div>


            <div class="section-heading js-products-popular-arrows">
                Популярні товари
            </div>

            <div class="products-slider js-products-popular">
                <div class="slide-wrap">
                    <div class="product-preview">
                        <div class="product-preview__label popular">Популярне</div>
                        <div class="product-preview__favorite added">
                            <span class="icon icon-heart"></span>
                        </div>
        
                        <div class="product-preview__bg" style="background-image: url(img/main-banner.jpg);"></div>
        
                        <div class="product-preview__name">Виг вам</div>
                        <div class="product-preview__description">Виг вам для девочки вигвам единорог нежно</div>
                        <div class="product-preview__code">Артикул: 15026</div>

                        <div class="product-preview__prices">
                            <div class="product-preview__discount">3600 грн</div>
                            <div class="product-preview__price">3100 грн</div>
                        </div>
        
                        <div class="product-preview__buy">
                            <span class="icon icon-shopping"></span>
                            Купити
                        </div>
                    </div>
                </div>

                <div class="slide-wrap">
                    <div class="product-preview">
                        <div class="product-preview__label popular">Популярне</div>
                        <div class="product-preview__favorite added">
                            <span class="icon icon-heart"></span>
                        </div>
        
                        <div class="product-preview__bg" style="background-image: url(img/main-banner.jpg);"></div>
        
                        <div class="product-preview__name">Виг вам</div>
                        <div class="product-preview__description">Виг вам для девочки вигвам единорог нежно</div>
                        <div class="product-preview__code">Артикул: 15026</div>
        
                        <div class="product-preview__prices">
                            <div class="product-preview__discount">3600 грн</div>
                            <div class="product-preview__price">3100 грн</div>
                        </div>
        
                        <div class="product-preview__buy">
                            <span class="icon icon-shopping"></span>
                            Купити
                        </div>
                    </div>
                </div>

                <div class="slide-wrap">
                    <div class="product-preview">
                        <div class="product-preview__label popular">Популярне</div>
                        <div class="product-preview__favorite added">
                            <span class="icon icon-heart"></span>
                        </div>
        
                        <div class="product-preview__bg" style="background-image: url(img/main-banner.jpg);"></div>
        
                        <div class="product-preview__name">Виг вам</div>
                        <div class="product-preview__description">Виг вам для девочки вигвам единорог нежно</div>
                        <div class="product-preview__code">Артикул: 15026</div>
        
                        <div class="product-preview__prices">
                            <div class="product-preview__discount">3600 грн</div>
                            <div class="product-preview__price">3100 грн</div>
                        </div>
        
                        <div class="product-preview__buy">
                            <span class="icon icon-shopping"></span>
                            Купити
                        </div>
                    </div>
                </div>


                <div class="slide-wrap">
                    <div class="product-preview">
                        <div class="product-preview__favorite added">
                            <span class="icon icon-heart"></span>
                        </div>

                        <div class="product-preview__bg" style="background-image: url(img/main-banner.jpg);"></div>

                        <div class="product-preview__name">Виг вам</div>
                        <div class="product-preview__description">Виг вам для девочки вигвам единорог нежно</div>
                        <div class="product-preview__code">Артикул: 15026</div>

                        <div class="product-preview__prices">
                            <div class="product-preview__discount">3600 грн</div>
                            <div class="product-preview__price">3100 грн</div>
                        </div>

                        <div class="product-preview__buy">
                            <span class="icon icon-shopping"></span>
                            Купити
                        </div>
                    </div>
                </div>

                <div class="slide-wrap">
                    <div class="product-preview">
                        <div class="product-preview__label new">Новинка</div>
                        <div class="product-preview__favorite added">
                            <span class="icon icon-heart"></span>
                        </div>

                        <div class="product-preview__bg" style="background-image: url(img/main-banner.jpg);"></div>
        
                        <div class="product-preview__name">Виг вам</div>
                        <div class="product-preview__description">Виг вам для девочки вигвам единорог нежно</div>
                        <div class="product-preview__code">Артикул: 15026</div>
        
                        <div class="product-preview__prices">
                            <div class="product-preview__discount">3600 грн</div>
                            <div class="product-preview__price">3100 грн</div>
                        </div>

                        <div class="product-preview__buy">
                            <span class="icon icon-shopping"></span>
                            Купити
                        </div>
                    </div>
                </div>

                <div class="slide-wrap">
                    <div class="product-preview">
                        <div class="product-preview__label popular">Популярне</div>
                        <div class="product-preview__favorite added">
                            <span class="icon icon-heart"></span>
                        </div>

                        <div class="product-preview__bg" style="background-image: url(img/main-banner.jpg);"></div>

                        <div class="product-preview__name">Виг вам</div>
                        <div class="product-preview__description">Виг вам для девочки вигвам единорог нежно</div>
                        <div class="product-preview__code">Артикул: 15026</div>

                        <div class="product-preview__prices">
                            <div class="product-preview__discount">3600 грн</div>
                            <div class="product-preview__price">3100 грн</div>
                        </div>

                        <div class="product-preview__buy">
                            <span class="icon icon-shopping"></span>
                            Купити
                        </div>
                    </div>
                </div>

                <div class="slide-wrap">
                    <div class="product-preview">
                        <div class="product-preview__label popular">Популярне</div>
                        <div class="product-preview__favorite added">
                            <span class="icon icon-heart"></span>
                        </div>
        
                        <div class="product-preview__bg" style="background-image: url(img/main-banner.jpg);"></div>
        
                        <div class="product-preview__name">Виг вам</div>
                        <div class="product-preview__description">Виг вам для девочки вигвам единорог нежно</div>
                        <div class="product-preview__code">Артикул: 15026</div>
        
                        <div class="product-preview__prices">
                            <div class="product-preview__discount">3600 грн</div>
                            <div class="product-preview__price">3100 грн</div>
                        </div>
        
                        <div class="product-preview__buy">
                            <span class="icon icon-shopping"></span>
                            Купити
                        </div>
                    </div>
                </div>


                <div class="slide-wrap">
                    <div class="product-preview">
                        <div class="product-preview__label popular">Популярне</div>
                        <div class="product-preview__favorite added">
                            <span class="icon icon-heart"></span>
                        </div>
        
                        <div class="product-preview__bg" style="background-image: url(img/main-banner.jpg);"></div>
        
                        <div class="product-preview__name">Виг вам</div>
                        <div class="product-preview__description">Виг вам для девочки вигвам единорог нежно</div>
                        <div class="product-preview__code">Артикул: 15026</div>
        
                        <div class="product-preview__prices">
                            <div class="product-preview__discount">3600 грн</div>
                            <div class="product-preview__price">3100 грн</div>
                        </div>
        
                        <div class="product-preview__buy">
                            <span class="icon icon-shopping"></span>
                            Купити
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-heading js-review-arrows">
                Популярні товари
            </div>

            <div class="review-slider js-review-slider">
                <div class="slide-wrap">
                    <div class="review">
                        <div class="review__header">
                            <div class="review__user-photo" style="background-image: url(img/main-banner.jpg);"> </div>
                            <div class="review__user-name">
                                Анна Савчук
                                <div class="review__rating">
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-start"></span>
                                </div>
                            </div>
                        </div>
        
                        <div class="review__text">
                            Сьогодні отримала замовлення. Я просто у захваті!!! Всі товари брала по шаленій знижці, переживала за якість. Але це просто космос! Спасибі вам величезне!
                        </div>
                    </div>
                </div>

                <div class="slide-wrap">
                    <div class="review">
                        <div class="review__header">
                            <div class="review__user-photo" style="background-image: url(img/main-banner.jpg);"> </div>
                            <div class="review__user-name">
                                Анна Савчук
                                <div class="review__rating">
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-start"></span>
                                </div>
                            </div>
                        </div>
        
                        <div class="review__text">
                            Сьогодні отримала замовлення. Я просто у захваті!!! Всі товари брала по шаленій знижці, переживала за якість. Але це просто космос! Спасибі вам величезне!
                        </div>
                    </div>
                </div>

                <div class="slide-wrap">
                    <div class="review">
                        <div class="review__header">
                            <div class="review__user-photo" style="background-image: url(img/main-banner.jpg);"> </div>
                            <div class="review__user-name">
                                Анна Савчук
                                <div class="review__rating">
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-start"></span>
                                </div>
                            </div>
                        </div>
        
                        <div class="review__text">
                            Сьогодні отримала замовлення. Я просто у захваті!!! Всі товари брала по шаленій знижці, переживала за якість. Але це просто космос! Спасибі вам величезне!
                        </div>
                    </div>
                </div>

                <div class="slide-wrap">
                    <div class="review">
                        <div class="review__header">
                            <div class="review__user-photo" style="background-image: url(img/main-banner.jpg);"> </div>
                            <div class="review__user-name">
                                Анна Савчук
                                <div class="review__rating">
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-start"></span>
                                </div>
                            </div>
                        </div>
        
                        <div class="review__text">
                            Сьогодні отримала замовлення. Я просто у захваті!!! Всі товари брала по шаленій знижці, переживала за якість. Але це просто космос! Спасибі вам величезне!
                        </div>
                    </div>
                </div>

                <div class="slide-wrap">
                    <div class="review">
                        <div class="review__header">
                            <div class="review__user-photo" style="background-image: url(img/main-banner.jpg);"> </div>
                            <div class="review__user-name">
                                Анна Савчук
                                <div class="review__rating">
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-start"></span>
                                </div>
                            </div>
                        </div>
        
                        <div class="review__text">
                            Сьогодні отримала замовлення. Я просто у захваті!!! Всі товари брала по шаленій знижці, переживала за якість. Але це просто космос! Спасибі вам величезне!
                        </div>
                    </div>
                </div>

                <div class="slide-wrap">
                    <div class="review">
                        <div class="review__header">
                            <div class="review__user-photo" style="background-image: url(img/main-banner.jpg);"> </div>
                            <div class="review__user-name">
                                Анна Савчук
                                <div class="review__rating">
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-start"></span>
                                </div>
                            </div>
                        </div>
        
                        <div class="review__text">
                            Сьогодні отримала замовлення. Я просто у захваті!!! Всі товари брала по шаленій знижці, переживала за якість. Але це просто космос! Спасибі вам величезне!
                        </div>
                    </div>
                </div>

                <div class="slide-wrap">
                    <div class="review">
                        <div class="review__header">
                            <div class="review__user-photo" style="background-image: url(img/main-banner.jpg);"> </div>
                            <div class="review__user-name">
                                Анна Савчук
                                <div class="review__rating">
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-star-fill"></span>
                                    <span class="icon icon-start"></span>
                                </div>
                            </div>
                        </div>
        
                        <div class="review__text">
                            Сьогодні отримала замовлення. Я просто у захваті!!! Всі товари брала по шаленій знижці, переживала за якість. Але це просто космос! Спасибі вам величезне!
                        </div>
                    </div>
                </div>
            </div>

            <div class="add-review">
                <div class="btn md">  Залишати відгук </div>
            </div>
        </main>

        <form action="#" class="contacts-form">
            <div class="contacts-form__heading">
                Написати нам
            </div>

            <div class="form-control">
                <input type="text" class="input xs" placeholder="Ім'я">
            </div>

            <div class="form-control">
                <input type="text" class="input xs" placeholder="E-mail">
            </div>

            <div class="form-control">
                <input type="text" class="input xs" placeholder="Телефон">
            </div>

            <div class="form-control">
                <textarea class="input xs" placeholder="Коментар..."></textarea>
            </div>

            <div class="form-control">
                <div class="btn md"> Відправити </div>
            </div>
        </form>

        <%= _.template(require('./../includes/footer.html').default)() %>
        <script src="js/pages/index.js"></script>
        <script src="js/common.js"></script>
    </body>
</html>